.section-item {
  color: var(--ion-color-dark);
  --background: var(--ion-color-gray);
  margin: 10px 20px 0px 20px;
  border-radius: 5px;
  --padding-start: 0px;
  --inner-padding-end: 0px;

  ion-icon {
    color: var(--ion-color-dark);
    height: 100%;
  }
  .start-icon {
    background: linear-gradient(345.29deg, rgba(66, 72, 88, 0.5) 7.55%, rgba(66, 72, 88, 0) 91.71%);
    padding: 0px 12px;
  }
  .end-icon {
    background: var(--ion-color-light);
    padding: 0px 15px;
  }

  .stats-area {
    text-align: center;
    margin: 10px 0px 10px 10px;

    p {
      margin: 0px;
    }
    .small-text {
      font-weight: 300;
      font-size: .75em;
    }
  }
}
